* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
  
}
/* body {
    background-image: url("images/back cover.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */

.main-reg {
    max-width: 400px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 60px;
    margin-right: 10px;
    padding: 40px;
    background-color: rgba(236,236,236,255);  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'CustomFontRegular', sans-serif;
}

form {
    padding-right: 100px;
}

h1 {
    color: #333;
}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="department"],
input[type="number"], 
button[type="submit"] {
    width: 150%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #ff735c;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #961400;
}

legend {
    font-weight: bold;
}

center {
    margin-bottom: 20px;
} 
select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

select:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.7); 
}
.sign-navigator {
    font-size: normal;
    font-weight: lighter;
    font-size:medium;
   
}

.sign-navigator a {
    color: #007bff;
    text-decoration: none;
    font-weight: lighter;
    font-size: medium;
}

.sign-navigator a:hover {
    text-decoration: underline;
}
.container {
	
    display: flex;
}

.login-container {
    flex: 1;
}

.image-container {
    background-image: url('images/signup_img.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Adjust this if needed */
    background-position: center top 60px; /* Adjust the vertical position */
    margin-right: 100px;
    flex: 1;
}

.image-container h1 {
    font-family: "Dancing Script", cursive;
    padding-top: 70px;
    padding-left: 120px;
    font-optical-sizing: auto;
     font-style: normal;
}