.main-div {
    max-width: 400px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 50px;
    padding: 20px;
    background-color: rgba(236,236,236,255);   
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'CustomFontRegular', sans-serif;

}

.first-line {
    font-family:"Trirong", serif;
}

.second-line {
    font-family: 'CustomFontRegular', sans-serif;
    font-size: smaller;
    font-weight: 100;
    font-stretch: expanded;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 110px;
}

/* body {
    background-image: url('/images/360_F_310162798_6hWbaSFgDtWp4AhhaKPlTgAZUDL1c4UY.jpg');
    background-size: cover;
    background-position: center;
} */

input[type="text"],
input[type="password"] {
    width: 150%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button[type="submit"] {
    width: 150%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CustomFontRegular', sans-serif; 
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.sign-navigator {
    margin-top: 20px;
    font-size: normal;
    font-weight: lighter;
    font-size:medium;
}

.sign-navigator a {
    color: #007bff;
    text-decoration: none;
    font-weight: lighter;
    font-size: medium;
}

.sign-navigator a:hover {
    text-decoration: underline;
}

/* Styles for the container */
.container {
    display: flex;
    height: 100vh;
}

.login-container {
    flex: 1;
}

.image-container {
    flex: 1;
    background-image: url('images/login_img.jpg');
    /* background-image: url('images/login_img-Photoroom.png-Photoroom.png'); */
    background-size: cover;
    background-position: center;
}
